# variables

In [ ]:
A=10
B="Hello guvi"
C=(1,2,3,4)

In [ ]:
print(A)

In [ ]:
user_name="Rekha"

In [ ]:
user_1="Rekha"

In [ ]:
A=10
a=30
print(a+A)

# Data Types


Name ="rekha" # String
Age= 25 # Int
Height=5.6 #Float
Exam_Results=True # True/False  Bool

Mail="Rekha123@gmail.com" # String
#Adhar # Int
#Pan # String
#Bank Acc # Int
Ip address= "169.567.68.58" # String

Passport=None

In [ ]:
print(Passport)

# Data Structure

In [ ]:
# List
# Tuple
# Set
# Dict

# List

In [ ]:
L=[10,"Guvi",3.45,True,[1,2,3,4]] # List can store all data type and data structure, List can Mutable, Duplicate accepted
 #  0    1     2    3     4

In [ ]:
L[2]

In [ ]:
L=[10,"Guvi",3.45,True,[1,2,3,4],"Guvi","Hi MDT51"] # List can store all data type and data structure, List can Mutable, Duplicate accepted
 #  0    1     2    3     4         5       6

In [ ]:
len(L)-1

In [ ]:
L[len(L)//2]

In [ ]:
L[len(L)//2:]

In [ ]:
L[2]

In [ ]:
L[3]

In [ ]:
L[4]

In [ ]:
L[4][2]

In [ ]:
L[1]

In [ ]:
L[1][2]

In [ ]:
len(L)-1

In [ ]:
L2=[1,2,3,4,5,6,7,8,9,10]
L2

In [ ]:
L2[-2]

In [ ]:
L2[::-1]

In [ ]:
L2[0:4]

In [ ]:
L2[0:5]

In [ ]:
L2[4:8]

In [ ]:
Box=["A","B","C","D","E","F","G","H","I"]
Box

In [ ]:
Box[0:]

In [ ]:
Box[3:]

In [ ]:
Box[0:9]

In [ ]:
Box[0:9:2]

In [ ]:
Box[0:9:3]

In [ ]:
Box[0:9:1]

In [ ]:
Box[2:7:2]

In [ ]:
Fruits=['Apple','Banana','Grapes','Mango','Orange']
Fruits

In [ ]:
Fruits[2]='Blueberry'

In [ ]:
Fruits

In [ ]:
Fruits.append('Guava')
Fruits

In [ ]:
Fruits.insert(1,'grape')
Fruits

In [ ]:
Fruits.pop()

In [ ]:
Fruits.pop()

In [ ]:
Fruits.remove('Mango')
Fruits

In [ ]:
Fruits=['Apple','Banana','Grapes','Mango','Orange','Banana']
Fruits

In [ ]:
Fruits.count('Banana')

In [ ]:
Fruits.index('Grapes')

In [ ]:
dir(list)

In [ ]:
Fruits=['Apple','Banana','Grapes','Mango','Orange','Banana']
Fruits.reverse()
Fruits

In [ ]:
Fruits[::1]

In [ ]:
Fruits[::1]

In [ ]:
Fruits.sort()
Fruits

In [ ]:
Fruits=['Apple','Banana','Grapes','Mango','Orange','Banana']
Fruits.sort()
Fruits

In [ ]:
Fruits.sort(reverse=True)
Fruits

In [ ]:
Fruits=['Apple','Banana','Grapes','Mango','Orange','Banana']
Fruits.copy()
Fruits

In [ ]:
Fruits_Copy=Fruits.copy()

In [ ]:
Fruits_Copy

In [ ]:
Fruits_Copy.pop(2)

In [ ]:
Fruits_Copy

In [ ]:
Fruits

In [ ]:
Fruits_1=Fruits

In [ ]:
Fruits_1

In [ ]:
Fruits_1.pop(2)

In [ ]:
Fruits_1

In [ ]:
Fruits=['Apple','Banana','Grapes','Mango','Orange','Banana']
Fruits

In [ ]:
Veggies=['Tomato','Potato','Brinjal']
Veggies

In [ ]:
Fruits.append(Veggies)
Fruits

In [ ]:
Fruits=['Apple','Banana','Grapes','Mango','Orange','Banana']
Fruits

In [ ]:
Veggies=['Tomato','Potato','Brinjal']
Veggies

In [ ]:
Fruits.extend(Veggies)
Fruits

# Tuple

In [ ]:
dir(tuple)

In [ ]:
Std_detail=('Rekha',26,'Barch','III',[56,67]) # Tuple can store any data types./ Data structure, Immutalbe[can't add or remove or modify]Tuple allow duplicates
Std_detail

In [ ]:
Std_detail[4][1]=65

In [ ]:
Std_detail

In [ ]:
Std_detail.index('Barch')

In [ ]:
Std_detail.count('Barch')

# Set

In [ ]:
set1={1,2,3,4,5,6,7,8,9,10,('a','b','c')}
set1

In [ ]:
dir(set)

In [ ]:
Set_fruits={'Apple','Banana','Grapes','Mango','Orange','Banana'}
Set_fruits

In [ ]:
Carton={'USA','UK','UAE','UK','UAE','USA','UK','USA','UK','UAE','USA','JP'}  

set(Carton)

In [ ]:
Set_fruits={'Apple','Banana','Grapes','Mango','Orange','Banana'}
Set_fruits

In [ ]:
Set_fruits.add('Melon')

In [ ]:
Set_fruits

In [ ]:
fruits_1={'Apple','Banana','Grapes','Mango','Orange','Banana'}
fruits_2={'Apple','Kiwi','Mango','Orange','Melon'}

In [ ]:
fruits_1.difference(fruits_2)

In [ ]:
fruits_2.difference(fruits_1)

In [ ]:
Set_fruits

In [ ]:
Set_fruits.discard('Apple')

In [ ]:
Set_fruits

In [ ]:
fruits_1={'Apple','Banana','Grapes','Mango','Orange','Banana'}
fruits_2={'Apple','Kiwi','Mango','Orange','Melon'}

In [ ]:
fruits_1.intersection(fruits_2)

In [ ]:
fruits_1

In [ ]:
fruits_1.intersection_update(fruits_2)

In [ ]:
fruits_1

In [ ]:
fruits_1={'Apple','Banana','Grapes','Mango','Orange','Banana'}
fruits_2={'Apple','Kiwi','Mango','Orange','Melon'}

In [ ]:
fruits_1.isdisjoint(fruits_2)

In [ ]:
fruits_1={'Apple','Banana','Grapes','Mango','Orange','Banana'}
fruits_2={'Kiwi','Melon'}
fruits_1.isdisjoint(fruits_2)

In [ ]:
fruits_1={'Apple','Banana','Grapes','Mango','Orange','Banana'}
fruits_2={'Apple','Kiwi','Mango','Orange','Melon'}
fruits_1.issubset(fruits_2)

In [ ]:
fruits_1={'Apple','Banana','Grapes','Mango','Orange','Banana'}
fruits_2={'Apple','Kiwi','Mango','Orange','Melon'}
fruits_2.issubset(fruits_2)

In [ ]:
fruits_1.issubset(fruits_2)

In [ ]:
fruits_2.issubset(fruits_1)

In [ ]:
set_1={1,2,3,4,5,6,7,8,9,10}
set_2={1,2,3}

set_1.issuperset(set_1)

In [ ]:
set_1={1,2,3,4,5,6,7,8,9,10}
set_2={1,2,3}
set_1.pop()

In [ ]:
set_1.pop(3)

In [ ]:
set_1

In [ ]:
set_1.pop()
set_1

In [ ]:
set_1

In [ ]:
# symmetric difference 

set_1={1,2,3,4,5,6,7,8,9,10}
set_2={1,2,3,11,12,14}

set_1.symmetric_difference(set_2)

In [ ]:
set_1={1,2,3,4,5,6,7,8,9,10}
set_2={1,2,3,11,12,14}

set_1.symmetric_difference_update(set_2)

In [ ]:
set_1

In [ ]:
set_1={1,2,3,4,5,6,7,8,9,10}
set_2={10,20,30}
set_1.union(set_2)

In [ ]:
set_1={1,2,3,4,5,6,7,8,9,10}
set_2={10,20,30}

set_1.update(set_2)

In [ ]:
set_1

# Dict

In [ ]:
Emp={"Name":"Rekha",
     "Age": 26,
     "Income":300000,
     8:"Address"}
Emp

In [ ]:
Emp["Name"]

In [ ]:
Emp[8]

In [ ]:
Emp={"Name":"Rekha",
     "Age": 26,
     "Income":300000}
Emp

In [ ]:
Emp["Mobile"]=9568726544

In [ ]:
Emp

In [ ]:
Guvi_Emp={
    "EmpID":[44,55,66,21,7,8,19,27],
    "Name": ["Rekha","Vivek","Sam","Maha","Aditiya","Zubair","Mithul","Veda"],
"Designation":["Developer","Tester","Architect","Team lead","Manager","Jr.Architect","Accountant","HR"],
"Salary":[25000,30000,45000,60000,35000,40000,50000,15000]}
Guvi_Emp

In [ ]:
Guvi_Emp["EmpID"].index(7)

In [ ]:
Emp=5
print(f"EmpID:{Emp}")

In [ ]:
print("EmpID: {Guvi_Emp['EmpID'][4]}")

In [ ]:
print(f"EmpID: {Guvi_Emp['EmpID'][4]}")

In [ ]:
Guvi_Emp["EmpID"][4]

In [ ]:
print(f"EmpID:{Guvi_Emp["EmpID"][4]}")
print(f"Emp_Name:{Guvi_Emp["Name"][4]}")
print(f"Emp_Designation:{Guvi_Emp["Designation"][4]}")
print(f"Emp_Salary:{Guvi_Emp["Salary"][4]}")

In [ ]:
Emp_ID=(input("Enter the Emp_ID: "))
Emp_ID
print(type(Emp_ID))

In [ ]:
Emp_ID=(input("Enter the Emp_ID: "))
Emp_ID

In [ ]:
Emp_ID=int(input("Enter the Emp_ID: "))
Emp_ID
print(type(Emp_ID))

In [ ]:
User_Emp_ID=int(input("Enter the Emp_ID:"))

In [ ]:
User_Emp_ID

In [ ]:
Position=Guvi_Emp["EmpID"].index(User_Emp_ID)

In [ ]:
Position

In [ ]:
print(f"EmpID:{Guvi_Emp["EmpID"][Position]}")
print(f"Emp_Name:{Guvi_Emp["Name"][Position]}")
print(f"Emp_Designation:{Guvi_Emp["Designation"][Position]}")
print(f"Emp_Salary:{Guvi_Emp["Salary"][Position]}")

In [ ]:
dir(dict)

In [ ]:
Biodata={"Name":"Rekha","Age":26}
Biodata.clear()
Biodata

In [ ]:
Guvi_Emp={
    "EmpID":[44,55,66,21,7,8,19,27],
    "Name": ["Rekha","Vivek","Sam","Maha","Aditiya","Zubair","Mithul","Veda"],
"Designation":["Developer","Tester","Architect","Team lead","Manager","Jr.Architect","Accountant","HR"],
"Salary":[25000,30000,45000,60000,35000,40000,50000,15000]}
Guvi_Emp

In [ ]:
Keys={"Name","Age","Salary"}
VALUES={"Rekha",26,300000}
Emp=dict.fromkeys(Keys,VALUES)
Emp

In [ ]:
Keys={"Name","Age","Salary"}
Values={"Rekha",26,300000}
Emp=dict.fromkeys(Keys,Values)
Emp

In [ ]:
Keys={"Name","Age","Salary"}
Values={None}
Emp=dict.fromkeys(Keys,Values)
Emp

In [ ]:
Emp={"Name":"Rekha",
     "Age": 26,
     "Income":300000}
Emp.items()

In [ ]:
Emp.keys()

In [ ]:
Emp.values()

In [ ]:
Emp.get("Name")

In [ ]:
Emp.pop("Age")

In [ ]:
Emp

In [ ]:
Emp.popitem()

In [ ]:
Emp

In [ ]:
Emp.update({"Age":27})
Emp

In [ ]:
Emp={"Name":"Rekha",
     "Age": 26,
     "Income":300000}
Emp.setdefault('Mobile',9535465466)
Emp

## Conditional statement

In [ ]:
# Simple condition

Age=int(input("Enter your Age:"))

if Age>18:
    print('Allow')

In [ ]:
Age=int(input("Enter your Age:"))

if Age>18:
    print('Allow')
else:
    print('Not Allow')

In [ ]:
Age=int(input("Enter your Age:"))

if Age>18 and Age<60:
    print('Allow')
else:
    print('Not Allow')

In [ ]:
Age=int(input("Enter your Age:"))

if Age>18 and Age<60:
    print('Allow')
else:
    print('Not Allow')

In [ ]:
Age=int(input("Enter your Age:"))

if Age>18 and Age<60:
    print('Allow')
else:
    print('Not Allow')

In [ ]:
Age=int(input("Enter your Age:"))

if Age>=18 and Age<=60:
    print('Allow')
else:
    print('Not Allow')

In [ ]:
Mark=int(input("Enter your Mark:"))
if Mark>=35:
    print('Pass')
else:
    print('Fail')

In [ ]:
# 100-91 Doctor,90-81 Engineer,80-71 Arts,70-41 Diploma,40-0 Fail
# Rekha your Mark is 75 and you are Eligible for Diploma

Name=input('Enter your Name:')
Mark=int(input('Enter your Mark:'))
if Mark>=91 and Mark<=100:
    print(f"{Name}Your Mark is {Mark} and you are Eligible for Doctor")
elif Mark>=81 and Mark<=90:
   print(f"{Name}Your Mark is {Mark} and you are Eligible for Engineer")
elif Mark>=71 and Mark<=80:
    print(f"{Name}Your Mark is {Mark} and you are Eligible for Arts")
elif Mark>=41 and Mark<=70:
    print(f"{Name}Your Mark is {Mark} and you are Eligible for Diploma ")
else: 
    print(f'{Name} Your Mark {Mark} and you are Fail')

In [ ]:
# 100-91 Doctor,90-81 Engineer,80-71 Arts,70-41 Diploma,40-0 Fail
#   Neet >90 Doctor eligible

Name=input('Enter your Name:')
Mark=int(input('Enter your Mark:'))

if Mark>=91 and Mark<=100:
    Neet=int(input('Enter your Neet score:'))
    if Neet>=90:
        print(f"{Name}Your Mark is {Mark} and your Neet score{Neet}Since are Eligible for Doctor")
    else:
        print(f'{Name} Your Mark is {Mark} and your Neet score{Neet}Since are Eligible for Doctor you can try for other courses')


elif Mark>=18 and Mark<=90:
    print(f'{Name} Your Mark is {Mark} and you are Eligible for Engineer')

elif Mark>=71 and Mark<=80:
    print(f'{Name} Your Mark is {Mark} and you are Eligible for Arts')

elif Mark>=41 and Mark<=70:
    print(f'{Name} Your Mark is {Mark} and you are Eligible for Diploma')

else:
    print(f'{Name} Your Mark {Mark} and you are Fail')

In [ ]:
Name=input('Enter your Name:')
Mark=int(input('Enter your Mark:'))
Neet=int(input('Enter your Neet score'))

if Neet>=90:
        print(f"{Name}Your Mark is {Mark} and your Neet score{Neet}Since you are Eligible for Doctor")
else:
        print(f'{Name} Your Mark is {Mark} and your Neet score{Neet}Since you are not Eligible for Doctor you can try for other courses')

# LOOPS

In [ ]:
Name=['Raja','Ravi','Rani','Ramu']

for i in Name:
    print(i)

In [ ]:
for A in Name:
    print(A)

In [ ]:
for A in Name:
    print(Name)

In [ ]:
Name='Rekha'
for i in Name:
    print(Name)

In [ ]:
for i in range(0,10):
    print(i)

In [ ]:
A=7
print(6/2)
print(6//2)
print(6%2)

In [ ]:
if A%2==0:
  print('Even')
else:
  print('Odd')

In [ ]:
Nums=[10,20,39,67,78,44,25,22,68]

for n in Nums:

 if n%2==0:
    print(f'{n} is Even')
else:
    print(f'{n} is Odd')

In [ ]:
Num1=input()
Num2=input()
print(Num1)
print(Num2)

In [ ]:
Nums=[10,20,39,67,78,44,25,22,68]

for n in Nums:

 if n%2==0:
    print(f'{n} is Even')
else:
    print(f'{n} is Odd')

In [ ]:
Nums=[10,20,39,67,78,44,25,22,15]
odd=[]
even=[]


for i in Nums:

 if i%2==0:
    even.append(i)
else:
    odd.append(i)

print(even)
print(odd)

In [ ]:
print(*even)
print(*odd)

In [ ]:
Animals=['Lion','Tiger','Cat','Monkey','Deer']
print(' '.join(Animals))

In [ ]:
Animals=['Lion','Tiger','Cat','Monkey','Deer']
for o in Animals:
    print('$'.join(Animals))

In [ ]:
Nums=[10,20,39,67,78,44,25,22,68,23,89,172,437,209,122,65,932,104,1,2,3,4,5,6,7,8,9,10]

for n in Nums:
 if n%3==0:
    print(f'{n} is Odd')
if n%5==0:
   print(f'{n} is Odd')
if n%7==0:
  print(f'{n} is Odd')   
else:
  print(f'{n} is Even')

In [ ]:
Nums=[10,20,39,67,78,44,25,22,68,23,89,172,437,209,122,65,932,104,1,2,3,4,5,6,7,8,9,10]



for i in Nums:

 if i%3==0:
    odd.append(i)
 if i%5==0:
   odd.append(i)
 if i%7==0:
    odd.append(i)
else:
    even.append(i)
    
print(i)
print(i)
print(i)

In [ ]:
Animals=['Lion','Tiger','Cat','Monkey','Deer']

print('@'.join(Animals))

In [ ]:
Animals=['Lion','Tiger','Cat','Monkey','Deer']

In [ ]:
for i in range(1,11): 
      print(i)

In [ ]:
for i in range(1,11,): 
      print(i)

In [ ]:
for i in range(1,11,1): 
      print(i)

In [ ]:
for i in range(11,0,-1): 
      print(i)

In [ ]:
n=int(input('Enter number'))
for i in range(10,n,-1):
    print(i)

In [ ]:
for i in range(5,11):
    print(i)

In [ ]:
for i in range(5,15,2):
    print(i)

In [ ]:
House=[10,20,0,8,89,0,78,13,14,0,7]

for i in House:
     if i==0:
       print('House Address',House.index(i))

In [ ]:
House=[10,20,0,8,89,0,78,13,14,0,7]

for i in range(len(House)):
    print(i,House[i])

In [ ]:
House=[10,20,0,8,89,0,78,13,14,0,7]

for i in range(len(House)):
    if House[i]==0:
      print(i,House[i])

In [ ]:
House=[10,20,0,8,89,0,78,13,14,0,7]

for i in range(len(House)):
    if House[i]==0:
      print('House address',i,House[i])

In [ ]:
House=[10,20,0,8,89,0,78,13,14,0,7]

for i,v in enumerate(House):
      print('index:',i,'value:',v)

In [ ]:
Guvi_Emp={
    'EmpID': [44,55,67,21,7,8,19,27],
    'Name':['Rajesh','Kumar','Kamal','Saran','Karthick','Iswarya','Divya','David'],
    'Designation':['Developer','Tester','TeamLead','Manager','Jr.Developer','Accontant','HR','Admin'],
    'Salary': [25000,30000,45000,60000,20000,22000,15000,28000],

}
Guvi_Emp

In [ ]:
for emp_id,name,Desg,Sal in zip(Guvi_Emp['EmpID'],Guvi_Emp['Name'],Guvi_Emp['Designation'],Guvi_Emp['Salary']):
    print(f'Name: {name}')
    print(f'EmpID: {emp_id}')
    print(f'Designation: {Desg}')
    print(f'Salary: {Sal}')
    print('-'*20)

In [ ]:
Guvi_Emp={
    'EmpID': [44,55,67,21,7,8,19,27],
    'Name':['Rajesh','Kumar','Kamal','Saran','Karthick'],
    'Designation':['Developer','Tester','TeamLead','Manager','Jr.Developer','Accontant','HR','Admin'],
    'Salary': [25000,30000,45000,60000,20000,22000,15000,28000],

}
Guvi_Emp

In [ ]:
for emp_id,name,Desg,Sal in zip(Guvi_Emp['EmpID'],Guvi_Emp['Name'],Guvi_Emp['Designation'],Guvi_Emp['Salary']):
    print(f'Name: {name}')
    print(f'EmpID: {emp_id}')
    print(f'Designation: {Desg}')
    print(f'Salary: {Sal}')
    print('-'*20)

In [ ]:
Guvi_Emp={
    'EmpID': [44,55,67,21,7,8,19,27],
    'Name':['Rajesh','Kumar','Kamal','Saran','Karthick'],
    'Designation':['Developer','Tester','TeamLead','Manager','Jr.Developer','Accontant','HR','Admin'],
    'Salary': [25000,45000,60000,20000,22000,15000,28000],

}
Guvi_Emp
for emp_id,name,Desg,Sal in zip(Guvi_Emp['EmpID'],Guvi_Emp['Name'],Guvi_Emp['Designation'],Guvi_Emp['Salary']):
    print(f'Name: {name}')
    print(f'EmpID: {emp_id}')
    print(f'Designation: {Desg}')
    print(f'Salary: {Sal}')
    print('-'*20)

In [ ]:
Name=['Rekha','vivek','rithu','sam']
for i in Name[::-1]:
    print(i,end=' ')

In [ ]:
Name=['Rekha','vivek','rithu','sam']
Name=Name.reverse
Name

In [ ]:
House=[10,20,0,8,89,0,78,13,14,0,7]

for i in range(len(House)-1,-1,-1):

       print(f'index: {i}')
       print(f'value:----{House[i]}')

In [ ]:
A=[1,2,3,4,5,6]
B=[10,1,3,5]
  
for i in A:
 for j in B:
  if i==j:
    print(i)

In [ ]:
A=[1,2,3,4,5,6]
B=[10,1,3,5]
  
for i in A:
 for j in B:
  if i!=j:
    print(i,j)
 print('---'*20)

In [ ]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
       print(L)

In [ ]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
       pass
  else:
       print(i)

In [ ]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
       pass
  else:
       print(i)

In [ ]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
       break
  else:
       print(i)

In [ ]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
       continue
  else:
       print(i)

In [ ]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
       continue
  else:
       print(L)

In [ ]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
       print('zero found')
       continue
  else:
       print(i)

In [ ]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
    continue
    print('zero found')
  else:
       print(i)

In [ ]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
       print('zero found')
       pass
  else:
       print(i)

In [ ]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
       pass
       print('zero found')
  else:
       print(i)

# Loop with ATM transaction example

In [ ]:
Pin=int(input('enter your pin'))

if Pin==4567:
    print('Pin matched')
    Amount=int(input('enter amount'))
    Balance=10000
    if Amount<=Balance:
        print('Transaction successfully')
    else:
        print('Insufficient Balance')
else:
    print('Pin not matched')

In [ ]:
Pin=int(input('enter your pin'))

if Pin==4567:
    print('Pin matched')
    Amount=int(input('enter amount'))
    Balance=10000
    if Amount<=Balance:
        print('Transaction successfully')
    else:
        continue
else:
    print('Pin not matched')

In [ ]:
Pin=int(input('enter your pin'))

if Pin==4567:
    print('Pin matched')
    Amount=int(input('enter amount'))
    Balance=10000
    if Amount<=Balance:
        print('Transaction successfully')
    else:
        pass
else:
    print('Pin not matched')

# While loop

In [ ]:
for i in range(1,11):
     print(i)

In [ ]:
n=1
while n<=10:
    print(n)

In [ ]:
n=1
while n<=10:
    print(n)
    n=n+1

In [ ]:
items = ["apple", "banana", "apple", "orange", "banana"]