# variables

In [83]:
A=10
B="Hello guvi"
C=(1,2,3,4)

In [84]:
print(A)

10

In [85]:
user_name="Rekha"

In [86]:
user_1="Rekha"

In [87]:
A=10
a=30
print(a+A)

40

# Data Types


Name ="rekha" # String
Age= 25 # Int
Height=5.6 #Float
Exam_Results=True # True/False  Bool

Mail="Rekha123@gmail.com" # String
#Adhar # Int
#Pan # String
#Bank Acc # Int
Ip address= "169.567.68.58" # String

Passport=None

In [88]:
print(Passport)

NameError: name 'Passport' is not defined

# Data Structure

In [ ]:
# List
# Tuple
# Set
# Dict

# List

In [119]:
L=[10,"Guvi",3.45,True,[1,2,3,4]] # List can store all data type and data structure, List can Mutable, Duplicate accepted
 #  0    1     2    3     4

In [120]:
L[2]

3.45

In [121]:
L=[10,"Guvi",3.45,True,[1,2,3,4],"Guvi","Hi MDT51"] # List can store all data type and data structure, List can Mutable, Duplicate accepted
 #  0    1     2    3     4         5       6

In [122]:
len(L)-1

6

In [123]:
L[len(L)//2]

True

In [124]:
L[len(L)//2:]

[True, [1, 2, 3, 4], 'Guvi', 'Hi MDT51']

In [125]:
L[2]

3.45

In [126]:
L[3]

True

In [127]:
L[4]

[1, 2, 3, 4]

In [128]:
L[4][2]

3

In [129]:
L[1]

'Guvi'

In [130]:
L[1][2]

'v'

In [131]:
len(L)-1

6

In [132]:
L2=[1,2,3,4,5,6,7,8,9,10]
L2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [133]:
L2[-2]

9

In [134]:
L2[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [135]:
L2[0:4]

[1, 2, 3, 4]

In [136]:
L2[0:5]

[1, 2, 3, 4, 5]

In [137]:
L2[4:8]

[5, 6, 7, 8]

In [138]:
Box=["A","B","C","D","E","F","G","H","I"]
Box

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [139]:
Box[0:]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [140]:
Box[3:]

['D', 'E', 'F', 'G', 'H', 'I']

In [141]:
Box[0:9]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [142]:
Box[0:9:2]

['A', 'C', 'E', 'G', 'I']

In [143]:
Box[0:9:3]

['A', 'D', 'G']

In [144]:
Box[0:9:1]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [145]:
Box[2:7:2]

['C', 'E', 'G']

In [15]:
Fruits=['Apple','Banana','Grapes','Mango','Orange']
Fruits

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange']

In [16]:
Fruits[2]='Blueberry'

In [17]:
Fruits

['Apple', 'Banana', 'Blueberry', 'Mango', 'Orange']

In [18]:
Fruits.append('Guava')
Fruits

['Apple', 'Banana', 'Blueberry', 'Mango', 'Orange', 'Guava']

In [19]:
Fruits.insert(1,'grape')
Fruits

['Apple', 'grape', 'Banana', 'Blueberry', 'Mango', 'Orange', 'Guava']

In [150]:
Fruits.pop()

'Guava'

In [151]:
Fruits.pop()

'Orange'

In [20]:
Fruits.remove('Mango')
Fruits

['Apple', 'grape', 'Banana', 'Blueberry', 'Orange', 'Guava']

In [153]:
Fruits=['Apple','Banana','Grapes','Mango','Orange','Banana']
Fruits

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange', 'Banana']

In [154]:
Fruits.count('Banana')

2

In [ ]:
Fruits.index('Grapes')

ValueError: 'Grapes' is not in list

In [156]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [103]:
Fruits=['Apple','Banana','Grapes','Mango','Orange','Banana']
Fruits.reverse()
Fruits

['Banana', 'Orange', 'Mango', 'Grapes', 'Banana', 'Apple']

In [104]:
Fruits[::1]

['Banana', 'Orange', 'Mango', 'Grapes', 'Banana', 'Apple']

In [28]:
Fruits[::1]

['Guava', 'Orange', 'Blueberry', 'Banana', 'grape', 'Apple']

In [105]:
Fruits.sort()
Fruits

['Apple', 'Banana', 'Banana', 'Grapes', 'Mango', 'Orange']

In [14]:
Fruits=['Apple','Banana','Grapes','Mango','Orange','Banana']
Fruits.sort()
Fruits

['Apple', 'Banana', 'Banana', 'Grapes', 'Mango', 'Orange']

In [16]:
Fruits.sort(reverse=True)
Fruits

['Orange', 'Mango', 'Grapes', 'Banana', 'Banana', 'Apple']

In [107]:
Fruits=['Apple','Banana','Grapes','Mango','Orange','Banana']
Fruits.copy()
Fruits

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange', 'Banana']

In [108]:
Fruits_Copy=Fruits.copy()

In [109]:
Fruits_Copy

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange', 'Banana']

In [110]:
Fruits_Copy.pop(2)

'Grapes'

In [111]:
Fruits_Copy

['Apple', 'Banana', 'Mango', 'Orange', 'Banana']

In [112]:
Fruits

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange', 'Banana']

In [113]:
Fruits_1=Fruits

In [114]:
Fruits_1

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange', 'Banana']

In [115]:
Fruits_1.pop(2)

'Grapes'

In [116]:
Fruits_1

['Apple', 'Banana', 'Mango', 'Orange', 'Banana']

In [41]:
Fruits=['Apple','Banana','Grapes','Mango','Orange','Banana']
Fruits

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange', 'Banana']

In [42]:
Veggies=['Tomato','Potato','Brinjal']
Veggies

['Tomato', 'Potato', 'Brinjal']

In [43]:
Fruits.append(Veggies)
Fruits

['Apple',
 'Banana',
 'Grapes',
 'Mango',
 'Orange',
 'Banana',
 ['Tomato', 'Potato', 'Brinjal']]

In [44]:
Fruits=['Apple','Banana','Grapes','Mango','Orange','Banana']
Fruits

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange', 'Banana']

In [45]:
Veggies=['Tomato','Potato','Brinjal']
Veggies

['Tomato', 'Potato', 'Brinjal']

In [46]:
Fruits.extend(Veggies)
Fruits

['Apple',
 'Banana',
 'Grapes',
 'Mango',
 'Orange',
 'Banana',
 'Tomato',
 'Potato',
 'Brinjal']

# Tuple

In [47]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [48]:
Std_detail=('Rekha',26,'Barch','III',[56,67]) # Tuple can store any data types./ Data structure, Immutalbe[can't add or remove or modify]Tuple allow duplicates
Std_detail

('Rekha', 26, 'Barch', 'III', [56, 67])

In [49]:
Std_detail[4][1]=65

In [50]:
Std_detail

('Rekha', 26, 'Barch', 'III', [56, 65])

In [51]:
Std_detail.index('Barch')

2

In [52]:
Std_detail.count('Barch')

1

# Set

In [53]:
set1={1,2,3,4,5,6,7,8,9,10,('a','b','c')}
set1

{('a', 'b', 'c'), 1, 10, 2, 3, 4, 5, 6, 7, 8, 9}

In [54]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [55]:
Set_fruits={'Apple','Banana','Grapes','Mango','Orange','Banana'}
Set_fruits

{'Apple', 'Banana', 'Grapes', 'Mango', 'Orange'}

In [56]:
Carton={'USA','UK','UAE','UK','UAE','USA','UK','USA','UK','UAE','USA','JP'}  

set(Carton)

{'JP', 'UAE', 'UK', 'USA'}

In [57]:
Set_fruits={'Apple','Banana','Grapes','Mango','Orange','Banana'}
Set_fruits

{'Apple', 'Banana', 'Grapes', 'Mango', 'Orange'}

In [58]:
Set_fruits.add('Melon')

In [59]:
Set_fruits

{'Apple', 'Banana', 'Grapes', 'Mango', 'Melon', 'Orange'}

In [60]:
fruits_1={'Apple','Banana','Grapes','Mango','Orange','Banana'}
fruits_2={'Apple','Kiwi','Mango','Orange','Melon'}

In [61]:
fruits_1.difference(fruits_2)

{'Banana', 'Grapes'}

In [62]:
fruits_2.difference(fruits_1)

{'Kiwi', 'Melon'}

In [63]:
Set_fruits

{'Apple', 'Banana', 'Grapes', 'Mango', 'Melon', 'Orange'}

In [64]:
Set_fruits.discard('Apple')

In [65]:
Set_fruits

{'Banana', 'Grapes', 'Mango', 'Melon', 'Orange'}

In [66]:
fruits_1={'Apple','Banana','Grapes','Mango','Orange','Banana'}
fruits_2={'Apple','Kiwi','Mango','Orange','Melon'}

In [67]:
fruits_1.intersection(fruits_2)

{'Apple', 'Mango', 'Orange'}

In [68]:
fruits_1

{'Apple', 'Banana', 'Grapes', 'Mango', 'Orange'}

In [69]:
fruits_1.intersection_update(fruits_2)

In [70]:
fruits_1

{'Apple', 'Mango', 'Orange'}

In [71]:
fruits_1={'Apple','Banana','Grapes','Mango','Orange','Banana'}
fruits_2={'Apple','Kiwi','Mango','Orange','Melon'}

In [72]:
fruits_1.isdisjoint(fruits_2)

False

In [73]:
fruits_1={'Apple','Banana','Grapes','Mango','Orange','Banana'}
fruits_2={'Kiwi','Melon'}
fruits_1.isdisjoint(fruits_2)

True

In [74]:
fruits_1={'Apple','Banana','Grapes','Mango','Orange','Banana'}
fruits_2={'Apple','Kiwi','Mango','Orange','Melon'}
fruits_1.issubset(fruits_2)

False

In [75]:
fruits_1={'Apple','Banana','Grapes','Mango','Orange','Banana'}
fruits_2={'Apple','Kiwi','Mango','Orange','Melon'}
fruits_2.issubset(fruits_2)

True

In [76]:
fruits_1.issubset(fruits_2)

False

In [77]:
fruits_2.issubset(fruits_1)

False

In [78]:
set_1={1,2,3,4,5,6,7,8,9,10}
set_2={1,2,3}

set_1.issuperset(set_1)

True

In [1]:
set_1={1,2,3,4,5,6,7,8,9,10}
set_2={1,2,3}
set_1.pop()

1

In [20]:
set_1.pop(3)

TypeError: set.pop() takes no arguments (1 given)

In [18]:
set_1

{4, 5, 6, 7, 8, 9, 10, 11, 12, 14}

In [19]:
set_1.pop()
set_1

{5, 6, 7, 8, 9, 10, 11, 12, 14}

In [80]:
set_1

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
# symmetric difference 

set_1={1,2,3,4,5,6,7,8,9,10}
set_2={1,2,3,11,12,14}

set_1.symmetric_difference(set_2)

{4, 5, 6, 7, 8, 9, 10, 11, 12, 14}

In [7]:
set_1={1,2,3,4,5,6,7,8,9,10}
set_2={1,2,3,11,12,14}

set_1.symmetric_difference_update(set_2)

In [83]:
set_1

{4, 5, 6, 7, 8, 9, 10, 11, 12, 14}

In [24]:
set_1={1,2,3,4,5,6,7,8,9,10}
set_2={10,20,30}
set_1.union(set_2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30}

In [25]:
set_1={1,2,3,4,5,6,7,8,9,10}
set_2={10,20,30}

set_1.update(set_2)

In [23]:
set_1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30}

# Dict

In [87]:
Emp={"Name":"Rekha",
     "Age": 26,
     "Income":300000,
     8:"Address"}
Emp

{'Name': 'Rekha', 'Age': 26, 'Income': 300000, 8: 'Address'}

In [88]:
Emp["Name"]

'Rekha'

In [89]:
Emp[8]

'Address'

In [90]:
Emp={"Name":"Rekha",
     "Age": 26,
     "Income":300000}
Emp

{'Name': 'Rekha', 'Age': 26, 'Income': 300000}

In [91]:
Emp["Mobile"]=9568726544

In [92]:
Emp

{'Name': 'Rekha', 'Age': 26, 'Income': 300000, 'Mobile': 9568726544}

In [93]:
Guvi_Emp={
    "EmpID":[44,55,66,21,7,8,19,27],
    "Name": ["Rekha","Vivek","Sam","Maha","Aditiya","Zubair","Mithul","Veda"],
"Designation":["Developer","Tester","Architect","Team lead","Manager","Jr.Architect","Accountant","HR"],
"Salary":[25000,30000,45000,60000,35000,40000,50000,15000]}
Guvi_Emp

{'EmpID': [44, 55, 66, 21, 7, 8, 19, 27],
 'Name': ['Rekha',
  'Vivek',
  'Sam',
  'Maha',
  'Aditiya',
  'Zubair',
  'Mithul',
  'Veda'],
 'Designation': ['Developer',
  'Tester',
  'Architect',
  'Team lead',
  'Manager',
  'Jr.Architect',
  'Accountant',
  'HR'],
 'Salary': [25000, 30000, 45000, 60000, 35000, 40000, 50000, 15000]}

In [94]:
Guvi_Emp["EmpID"].index(7)

4

In [95]:
Emp=5
print(f"EmpID:{Emp}")

EmpID:5

In [96]:
print("EmpID: {Guvi_Emp['EmpID'][4]}")

EmpID: {Guvi_Emp['EmpID'][4]}

In [97]:
print(f"EmpID: {Guvi_Emp['EmpID'][4]}")

EmpID: 7

In [98]:
Guvi_Emp["EmpID"][4]

7

In [99]:
print(f"EmpID:{Guvi_Emp["EmpID"][4]}")
print(f"Emp_Name:{Guvi_Emp["Name"][4]}")
print(f"Emp_Designation:{Guvi_Emp["Designation"][4]}")
print(f"Emp_Salary:{Guvi_Emp["Salary"][4]}")

EmpID:7
Emp_Name:Aditiya
Emp_Designation:Manager
Emp_Salary:35000

In [100]:
Emp_ID=(input("Enter the Emp_ID: "))
Emp_ID
print(type(Emp_ID))

<class 'str'>

In [8]:
Emp_ID=(input("Enter the Emp_ID: "))
Emp_ID

'55'

In [9]:
Emp_ID=int(input("Enter the Emp_ID: "))
Emp_ID
print(type(Emp_ID))

<class 'int'>

In [ ]:
User_Emp_ID=int(input("Enter the Emp_ID:"))

In [ ]:
User_Emp_ID

55

In [ ]:
Position=Guvi_Emp["EmpID"].index(User_Emp_ID)

In [ ]:
Position

1

In [ ]:
print(f"EmpID:{Guvi_Emp["EmpID"][Position]}")
print(f"Emp_Name:{Guvi_Emp["Name"][Position]}")
print(f"Emp_Designation:{Guvi_Emp["Designation"][Position]}")
print(f"Emp_Salary:{Guvi_Emp["Salary"][Position]}")

EmpID:55
Emp_Name:Vivek
Emp_Designation:Tester
Emp_Salary:30000

In [ ]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
Biodata={"Name":"Rekha","Age":26}
Biodata.clear()
Biodata

{}

In [ ]:
Guvi_Emp={
    "EmpID":[44,55,66,21,7,8,19,27],
    "Name": ["Rekha","Vivek","Sam","Maha","Aditiya","Zubair","Mithul","Veda"],
"Designation":["Developer","Tester","Architect","Team lead","Manager","Jr.Architect","Accountant","HR"],
"Salary":[25000,30000,45000,60000,35000,40000,50000,15000]}
Guvi_Emp

{'EmpID': [44, 55, 66, 21, 7, 8, 19, 27],
 'Name': ['Rekha',
  'Vivek',
  'Sam',
  'Maha',
  'Aditiya',
  'Zubair',
  'Mithul',
  'Veda'],
 'Designation': ['Developer',
  'Tester',
  'Architect',
  'Team lead',
  'Manager',
  'Jr.Architect',
  'Accountant',
  'HR'],
 'Salary': [25000, 30000, 45000, 60000, 35000, 40000, 50000, 15000]}

In [ ]:
Keys={"Name","Age","Salary"}
VALUES={"Rekha",26,300000}
Emp=dict.fromkeys(Keys,VALUES)
Emp

{'Salary': {26, 300000, 'Rekha'},
 'Name': {26, 300000, 'Rekha'},
 'Age': {26, 300000, 'Rekha'}}

In [ ]:
Keys={"Name","Age","Salary"}
Values={"Rekha",26,300000}
Emp=dict.fromkeys(Keys,Values)
Emp

{'Salary': {26, 300000, 'Rekha'},
 'Name': {26, 300000, 'Rekha'},
 'Age': {26, 300000, 'Rekha'}}

In [ ]:
Keys={"Name","Age","Salary"}
Values={None}
Emp=dict.fromkeys(Keys,Values)
Emp

{'Salary': {None}, 'Name': {None}, 'Age': {None}}

In [ ]:
Emp={"Name":"Rekha",
     "Age": 26,
     "Income":300000}
Emp.items()

dict_items([('Name', 'Rekha'), ('Age', 26), ('Income', 300000)])

In [ ]:
Emp.keys()

dict_keys(['Name', 'Age', 'Income'])

In [ ]:
Emp.values()

dict_values(['Rekha', 26, 300000])

In [ ]:
Emp.get("Name")

'Rekha'

In [ ]:
Emp.pop("Age")

26

In [ ]:
Emp

{'Name': 'Rekha', 'Income': 300000}

In [ ]:
Emp.popitem()

('Income', 300000)

In [ ]:
Emp

{'Name': 'Rekha'}

In [ ]:
Emp.update({"Age":27})
Emp

{'Name': 'Rekha', 'Age': 27}

In [ ]:
Emp={"Name":"Rekha",
     "Age": 26,
     "Income":300000}
Emp.setdefault('Mobile',9535465466)
Emp

{'Name': 'Rekha', 'Age': 26, 'Income': 300000, 'Mobile': 9535465466}

## Conditional statement

In [ ]:
# Simple condition

Age=int(input("Enter your Age:"))

if Age>18:
    print('Allow')

In [ ]:
Age=int(input("Enter your Age:"))

if Age>18:
    print('Allow')
else:
    print('Not Allow')

Not Allow

In [ ]:
Age=int(input("Enter your Age:"))

if Age>18 and Age<60:
    print('Allow')
else:
    print('Not Allow')

Allow

In [ ]:
Age=int(input("Enter your Age:"))

if Age>18 and Age<60:
    print('Allow')
else:
    print('Not Allow')

Not Allow

In [ ]:
Age=int(input("Enter your Age:"))

if Age>18 and Age<60:
    print('Allow')
else:
    print('Not Allow')

Not Allow

In [ ]:
Age=int(input("Enter your Age:"))

if Age>=18 and Age<=60:
    print('Allow')
else:
    print('Not Allow')

Allow

In [ ]:
Mark=int(input("Enter your Mark:"))
if Mark>=35:
    print('Pass')
else:
    print('Fail')

Fail

In [125]:
# 100-91 Doctor,90-81 Engineer,80-71 Arts,70-41 Diploma,40-0 Fail
# Rekha your Mark is 75 and you are Eligible for Diploma

Name=input('Enter your Name:')
Mark=int(input('Enter your Mark:'))
if Mark>=91 and Mark<=100:
    print(f"{Name}Your Mark is {Mark} and you are Eligible for Doctor")
elif Mark>=81 and Mark<=90:
   print(f"{Name}Your Mark is {Mark} and you are Eligible for Engineer")
elif Mark>=71 and Mark<=80:
    print(f"{Name}Your Mark is {Mark} and you are Eligible for Arts")
elif Mark>=41 and Mark<=70:
    print(f"{Name}Your Mark is {Mark} and you are Eligible for Diploma ")
else: 
    print(f'{Name} Your Mark {Mark} and you are Fail')

RekhaYour Mark is 66 and you are Eligible for Diploma

In [ ]:
# 100-91 Doctor,90-81 Engineer,80-71 Arts,70-41 Diploma,40-0 Fail
#   Neet >90 Doctor eligible

Name=input('Enter your Name:')
Mark=int(input('Enter your Mark:'))

if Mark>=91 and Mark<=100:
    Neet=int(input('Enter your Neet score:'))
    if Neet>=90:
        print(f"{Name}Your Mark is {Mark} and your Neet score{Neet}Since are Eligible for Doctor")
    else:
        print(f'{Name} Your Mark is {Mark} and your Neet score{Neet}Since are Eligible for Doctor you can try for other courses')


elif Mark>=18 and Mark<=90:
    print(f'{Name} Your Mark is {Mark} and you are Eligible for Engineer')

elif Mark>=71 and Mark<=80:
    print(f'{Name} Your Mark is {Mark} and you are Eligible for Arts')

elif Mark>=41 and Mark<=70:
    print(f'{Name} Your Mark is {Mark} and you are Eligible for Diploma')

else:
    print(f'{Name} Your Mark {Mark} and you are Fail')

RekhaYour Mark is 95 and your Neet score98Since are Eligible for Doctor

In [7]:
Name=input('Enter your Name:')
Mark=int(input('Enter your Mark:'))
Neet=int(input('Enter your Neet score'))

if Neet>=90:
        print(f"{Name}Your Mark is {Mark} and your Neet score{Neet}Since you are Eligible for Doctor")
else:
        print(f'{Name} Your Mark is {Mark} and your Neet score{Neet}Since you are not Eligible for Doctor you can try for other courses')

Rekha Your Mark is 73 and your Neet score88Since you are not Eligible for Doctor you can try for other courses

# LOOPS

In [12]:
Name=['Raja','Ravi','Rani','Ramu']

for i in Name:
    print(i)

Raja
Ravi
Rani
Ramu

In [14]:
for A in Name:
    print(A)

Raja
Ravi
Rani
Ramu

In [15]:
for A in Name:
    print(Name)

['Raja', 'Ravi', 'Rani', 'Ramu']
['Raja', 'Ravi', 'Rani', 'Ramu']
['Raja', 'Ravi', 'Rani', 'Ramu']
['Raja', 'Ravi', 'Rani', 'Ramu']

In [31]:
Name='Rekha'
for i in Name:
    print(Name)

Rekha
Rekha
Rekha
Rekha
Rekha

In [32]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
A=7
print(6/2)
print(6//2)
print(6%2)

3.0
3
0

In [5]:
if A%2==0:
  print('Even')
else:
  print('Odd')

Odd

In [1]:
Nums=[10,20,39,67,78,44,25,22,68]

for n in Nums:

 if n%2==0:
    print(f'{n} is Even')
else:
    print(f'{n} is Odd')

10 is Even
20 is Even
78 is Even
44 is Even
22 is Even
68 is Even
68 is Odd

In [28]:
Num1=input()
Num2=input()
print(Num1)
print(Num2)

Rekha
Arun

In [54]:
Nums=[10,20,39,67,78,44,25,22,68]

for n in Nums:

 if n%2==0:
    print(f'{n} is Even')
else:
    print(f'{n} is Odd')

10 is Even
20 is Even
78 is Even
44 is Even
22 is Even
68 is Even
68 is Odd

In [56]:
Nums=[10,20,39,67,78,44,25,22,15]
odd=[]
even=[]


for i in Nums:

 if i%2==0:
    even.append(i)
else:
    odd.append(i)

print(even)
print(odd)

[10, 20, 78, 44, 22]
[15]

In [57]:
print(*even)
print(*odd)

10 20 78 44 22
15

In [60]:
Animals=['Lion','Tiger','Cat','Monkey','Deer']
print(' '.join(Animals))

Lion Tiger Cat Monkey Deer

In [2]:
Animals=['Lion','Tiger','Cat','Monkey','Deer']
for o in Animals:
    print('$'.join(Animals))

Lion$Tiger$Cat$Monkey$Deer
Lion$Tiger$Cat$Monkey$Deer
Lion$Tiger$Cat$Monkey$Deer
Lion$Tiger$Cat$Monkey$Deer
Lion$Tiger$Cat$Monkey$Deer

In [63]:
Nums=[10,20,39,67,78,44,25,22,68,23,89,172,437,209,122,65,932,104,1,2,3,4,5,6,7,8,9,10]

for n in Nums:
 if n%3==0:
    print(f'{n} is Odd')
if n%5==0:
   print(f'{n} is Odd')
if n%7==0:
  print(f'{n} is Odd')   
else:
  print(f'{n} is Even')

39 is Odd
78 is Odd
3 is Odd
6 is Odd
9 is Odd
10 is Odd
10 is Even

In [6]:
Nums=[10,20,39,67,78,44,25,22,68,23,89,172,437,209,122,65,932,104,1,2,3,4,5,6,7,8,9,10]



for i in Nums:

 if i%3==0:
    odd.append(i)
 if i%5==0:
   odd.append(i)
 if i%7==0:
    odd.append(i)
else:
    even.append(i)
    
print(i)
print(i)
print(i)

NameError: name 'odd' is not defined

In [3]:
Animals=['Lion','Tiger','Cat','Monkey','Deer']

print('@'.join(Animals))

Lion@Tiger@Cat@Monkey@Deer

In [1]:
Animals=['Lion','Tiger','Cat','Monkey','Deer']