# List

In [1]:
Fruits=['Apple','Banana','Grapes','Mango','Orange']
Fruits

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange']

In [4]:
Fruits.extend(['veggies'])
Fruits

['Apple',
 'Banana',
 'Grapes',
 'Mango',
 'Orange',
 'v',
 'e',
 'g',
 'g',
 'i',
 'e',
 's',
 'v',
 'e',
 'g',
 'g',
 'i',
 'e',
 's',
 'veggies']

In [ ]:
Fruits='Apple','Banana','Grapes','Mango','Orange']
veggies='beans','carrot','onion'
Fruits.append(veggies)
Fruits

('Apple', 'Banana', 'Grapes', 'Mango', 'Orange')

In [13]:
Fruits=['Apple','Banana','Grapes','Mango','Orange']
veggies=['beans','carrot','onion']
Fruits.extend(veggies)
Fruits

['Apple', 'Banana', 'Grapes', 'Mango', 'Orange', 'beans', 'carrot', 'onion']

In [15]:
print("hello,I'm an architect learning python!")

hello,I'm an architect learning python!

In [16]:
name = input("What is your name? ")
print("Hello", name, "welcome to Python!")

Hello REKHA welcome to Python!

In [18]:
n1=4
n2=5
sum=n1+n2
print(n1+n2)

9

In [23]:
age=int(input('Enter your age'))
current_year=2025 
birth_year= current_year - age
print('you were born in the year',birth_year)

you were born in the year 1998

In [24]:
cm=float(input('enter the value'))
m=cm/100
print('Length in meters',m)

Length in meters 2.3

In [25]:
num = float(input("Enter a decimal number: "))
whole = int(num)
print("The whole number is:", whole)

The whole number is: 77

# Tuple

In [26]:
materials = ("brick", "cement", "sand", "steel")
print(materials)

('brick', 'cement', 'sand', 'steel')

In [29]:
materials = ("brick", "cement", "sand", "steel")
print(materials[0])
print(materials[-1])

brick
steel

In [30]:
materials.index('sand')

2

In [ ]:
materials = ("brick", "cement", "sand", "steel")

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1,'strawberry')
thislist

['apple', 'strawberry', 'banana', 'cherry']

In [39]:
thislist = ["apple", "banana", "cherry"]
thislist.extend(['strawberry','guava'])
thislist

['apple', 'banana', 'cherry', 'strawberry', 'guava']

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.append(['strawberry','guava'])
thislist

['apple', 'banana', 'cherry', ['strawberry', 'guava']]

In [41]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [42]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [46]:
thislist = ["apple", "banana", "cherry"]
thislist.remove('cherry')
print(thislist)

['apple', 'banana']

In [51]:
thislist = ["apple", "banana", "cherry"]
del thislist[2]
print(thislist)

['apple', 'banana']

In [54]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
x = ("apple", "banana", "cherry") # tuple
y = list(x) # converting tuple into list 
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [66]:
rooms = ("living room", "bedroom", "kitchen")
changes_in_room= list(rooms)
changes_in_room[1]='studyroom'
rooms=tuple(changes_in_room)
print(rooms)

('living room', 'studyroom', 'kitchen')

In [61]:
rooms = ("living room", "bedroom", "kitchen")
changes_in_room= list(rooms)
changes_in_room

['living room', 'bedroom', 'kitchen']

In [65]:
changes_in_room
changes_in_room[1]='studyroom'
changes_in_room
rooms=tuple(changes_in_room)
rooms

('living room', 'studyroom', 'kitchen')

In [67]:
materials = ("brick", "cement", "sand")
material_addition=list(materials)
material_addition.append('steel')
materials=tuple(material_addition)
print(materials)

('brick', 'cement', 'sand', 'steel')

In [69]:
colors = ("red", "blue", "green", "yellow")
removed_color=list(colors)
removed_color.remove('green')
colors=tuple(removed_color)
print(colors)

('red', 'blue', 'yellow')

In [70]:
numbers = (5, 3, 9, 1)
sorted_numbers=list(numbers)
sorted_numbers.sort()
numbers=tuple(sorted_numbers)
print(numbers)

(1, 3, 5, 9)

In [74]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined